table {
    border: 1px;
    background-color:#ededed;
    border-collapse: collapse;
}
tr, td:nth-child(odd){
    background-color:#ffffff
}
th{
    padding: 5px;
    background-color: #94e2ff;
}
th, td{
    border: 1px solid #000000; 
}